body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url("https://live.staticflickr.com/7753/17367719195_acda042f1d.jpg"); */
    background-image: url("../../images/clouds.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}
